<div class="container">
    <div class="mt-3">
        <label for="basic-url" class="form-label">Nome do projeto</label>
        <div class="input-group">
          <input [(ngModel)]="nome" (focusout)="onFocusOut($event)" type="text" class="form-control" id="nomeProjeto" aria-describedby="basic-addon3 basic-addon4">
        </div>
        <div class="form-text obrigatorio">*Campo obrigatório</div>
    </div>
    <div class="mt-3">
      <label for="basic-url" class="form-label">Código de Identificação do projeto</label>
      <div class="input-group">
        <input [(ngModel)]="codigo" (focusout)="onFocusOut($event)" type="text" class="form-control" id="descricao" aria-describedby="basic-addon3 basic-addon4">
      </div>
      <div class="form-text" id="basic-addon4">É recomendado que o código contenha no mínimo 3 e no máximo 5 caracteres que lembrem o nome do projeto</div>
      <div class="form-text obrigatorio">*Campo obrigatório</div>
    </div>
    <div class="mt-3">
      <label for="basic-url" class="form-label">Descrição do projeto</label>
      <div class="form-floating">
      <textarea [(ngModel)]="descricao" (input)="checkLenght($event)" (focusout)="onFocusOut($event)" 
        class="form-control" 
        placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
      <label [ngClass]="{'quase-max-desc' : isQuaseMaxDesc, 'atingiu-max-desc' : isMaxDesc}" 
        for="floatingTextarea2" class="fw-bold">{{ textoLimiteDescricao }}</label>
      </div>
      <div class="form-text obrigatorio">*Campo obrigatório</div>
    </div>
    <div class="mt-3">
      <form>
        <div class="mb-3">
          <label class="form-label">Selecione os dias da semana em que os encontros do projeto acontecerão:</label>
          <div class="form-check" *ngFor="let dia of dias.dias">
            <input class="form-check-input" type="checkbox" [(ngModel)]="dia.isChecked" name="dia" [value]="dia.dia">
            <label class="form-check-label" for="segunda">{{dia.dia}}</label>
          </div>
        </div>
        <div class="mb-3">
          <label for="horario" class="form-label">Horário fixo dos encontros:</label>
          <div class="row">
            <div class="col-2">
              <label for="horario" class="form-label">Inicio</label>
              <input type="time" [(ngModel)]="dias.horarioInicio" class="form-control" name="horario" placeholder="Ex.: 14:00">
            </div>
            <div class="col-2">
              <label for="horario" class="form-label">Término</label>
              <input type="time" [(ngModel)]="dias.horarioFim" class="form-control" name="horario" placeholder="Ex.: 16:00">
            </div>
          </div>
        </div>
      </form>      
    </div>
    <button (click)="criarProjeto()" type="button" class="btn btn-success mt-3 mb-3">Criar projeto</button>
</div>
