<div class="row">
    <div class="col-6 text-start">
        <h2>Tarefas</h2>
    </div>
    <div class="col-6 text-end">
        <button class="btn btn-primary"><fa-icon [icon]="plusIcon"></fa-icon></button>
    </div>
</div>
<hr>
<div class="d-flex flex-row">
    <div *ngFor="let tarefa of tarefas | async">
        <div class="tarefa me-3">
            <h5>{{tarefa.nome}}</h5>
            <p>Data de Entrega: {{tarefa.dataDeEntrega | date:'dd/MM/yyyy HH:mm':'America/Sao_Paulo':'pt-BR'}}</p>
            <p>Tarefa criada por: {{tarefa.criadaPor}}</p>
            <p>Objetivo: {{tarefa.descricao}}</p>
            <button class="btn btn-success">Abrir tarefa</button>
        </div>
    </div>
</div>

